@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'),
    url('node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.svg') format('svg');
}
/* CSS declarations go here */
.stylethis {
	font-size: 13px;
}

body {
	padding-top: 120px;
	margin: auto;
	background: url('assets/bg.png') no-repeat center center fixed;
	background-size: cover;
	overflow-x: hidden;
}

#container {
  margin-bottom: 25px;
}

/*title*/

#title {
	font-family: 'Pavanam', sans-serif;
	font-weight: bold;
	font-size: 32px;
}

.navbar-custom {
	background-color: rgb(245, 245, 245);
}

.navbar {
	background-image: none;
}

.nav-bottom-row {
	padding-bottom: 10px;
}

.main-container {
	width: 90%;
}

/*form elements*/

/*clickable item*/

.item {
	height: 260px;
	width: 330px;
	display: inline-block;
	margin: 40px 40px 40px 0;
  border: none;
  border-radius: 10px;
	box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.56);
  transition: box-shadow .2s;
}

.item-text {
	font-family: 'Pavanam', sans-serif;
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}

.item span {
  position: relative;
  bottom: 50px;
}

.item img {
  position: relative;
}

.item-img {
  height: 130px;
  width: 190px;
  margin: 50px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 3px;
}

.item:hover{
	cursor: pointer;
	box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.9);
}

.sector-btn-container {
  text-align: center;
}

.sector-stock {
  height: 100px;
	width: 300px;
	display: inline-block;
	padding: 20px;
	margin: 40px 40px 40px 40px;
  border: none;
  border-radius: 5px;
	box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.56);
  transition: box-shadow .2s;
}

.sector-stock:hover{
	cursor: pointer;
	box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.9);
}

.thirty-col {
  width: 30%
}

.sector-news {
	font-family: 'Pavanam', sans-serif;
  font-size: 20px;
}

/*search bar*/

.searchBar {

	font-family: 'Pavanam', sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 40px;
	width: 400px;
	font-size: 25px;
	padding-left: 10px;
	display: inline-block;
}

.searchBar:focus {
	outline: none;
}



/*info*/

.font {
	font-family: 'Pavanam', sans-serif;
}

.info {
	margin-bottom: 10px;
}


/*tile styling*/

.tile-container {
	padding: 40px;
	background-color: #f5f5f5;
	margin-bottom: 5vh;
	box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.56);
	font-family: 'Pavanam', sans-serif;
	font-size: 16px;
}

.invis-tile {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.tile h1 {
	font-size: 40px;
}

.company-logo {
	width: 80px;
	height: auto;
  display: inline;
}

.borderless td, .borderless th {
  border-top: none !important;
  border-bottom: none !important;
}

.add-borders {
  border-left: 1px solid #d6d6d6 !important;
  border-right: 1px solid #d6d6d6 !important;
}

.stock-code {
	font-size: 36px;
}

.inner {
	margin-left: 20px;
	margin-top: 20px;
}

.stock-positive {
	color: #1cbb33;
}

.stock-negative {
	color: #be0909;
}

.small-col {
	width: 12%;
}

.equal-col {
  width: 44%;
}



.align-right {
	text-align: right;
}

.align-center {
  text-align: center;
}



/*defining style for radio buttons and submit button*/

#submit {
	display: none;
}

.radio {
	display: inline-block !important;
	margin-right: 10px;
}

.hide-checkbox {
	display: none;
}

label {
	font-weight: bold;
	font-family: 'Pavanam', sans-serif;
	font-size: 18px;
	width: 80px;
  display: inline-block;
  position: relative;
  /*margin: 10px;*/
	text-align: center;
  padding-top: 3px;
	padding-bottom: 3px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #acacac;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	/*white-space: nowrap;*/
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

label:hover, input:focus + label {
  box-shadow: 0 0 15px rgba(0, 0, 0, .4);
}

input:checked + label {
  background-color: #82f490;
  color: #424242;
}



/* add stock input css */
.main-input {
	max-width: 600px;
	min-width: 600px;
}
.tooltip-inner {
	max-width: 1000px;
	/* If max-width does not work, try using width instead */
	width: 1000px;
}


/* graph tooltip css */
.tooltip-link {
	font-size: small;
	color: #66afe9;
}

.glyphicon-info-sign {
	color: darkgrey;
	font-size: small;
}
